<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODONTO PREMIUM</title>
    <link rel="stylesheet" href="/static/output.css">
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100">
    <header class="align-items-center mb-8 ">
      <nav class="flex justify-between bg_principal text-white items-center">
        <a href="/" class="font-bold px-3 py-2 letter-spacing"><img src="../../static/imgs/LOGO_ODONTOLOGIA_Branco.png" class="imagem_logo"></a>
        <a href="/login" class="font-bold px-3 py-2 letter-spacing"><i class="fi fi-rr-user">--></i></a>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    

    <footer class="bg_principal text-white text-center py-4">
      <div class="flex gap-3 items-center ml-3">
        <img src="../../static/imgs/LOGO_ODONTOLOGIA_Branco.png" alt="logo" class="w-36">
        <p>Direitos autorais</p>
      </div>
    </footer>
  </body>
</html>
