<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODONTO PREMIUM</title>
    <link rel="stylesheet" href="/static/output.css">
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100">
    <header class="align-items-center mb-8 ">
      <nav class="flex justify-between bg_principal text-white items-center">
        
          {{#if isAuthenticated}}   
            <a href="/admin" class="font-bold px-3 py-2 letter-spacing"><img src="../../static/imgs/LOGO_ODONTOLOGIA_Branco.png" class="imagem_logo"></a>        
            <!-- Renderizar navegação para usuários autenticados -->
            <a href="/logout" class="px-3 py-2"><img src="../../static/imgs/icn_logout.png" class="w-10"></a>           
          {{else}}
          <a href="/" class="font-bold px-3 py-2 letter-spacing"><img src="../../static/imgs/LOGO_ODONTOLOGIA_Branco.png" class="imagem_logo"></a>        
            <!-- Renderizar navegação para usuários não autenticados -->
            <a href="/login" class="font-bold px-3 py-2 letter-spacing"><img src="../../static/imgs/icn_login.png" class=""></a>
          {{/if}}

          <script>
            console.log(isAuthenticated)
          </script>
      </nav>
    </header>
    <main class="flex-grow mt-8 mb-8">
      {{{body}}}
    </main>

    <footer class="bg-gray-900 text-white text-center py-4">
      <div class="flex gap-3 items-center ml-3">
        <img src="../../static/imgs/LOGO_ODONTOLOGIA_Branco.png" alt="logo" class="w-36">
        <p>© 2024 ODONTO PREMIUM. Todos os direitos reservados.</p>
      </div>
    </footer>
  </body>
</html>
