<main>
  <div class="container mx-auto">
    <div class="flex flex-wrap justify-center gap-5">
      
      {{#each post}}
        {{#dataValues}}
          <div class="max-w-md bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
            <div class="md:flex">
              <div class="md:shrink-0">
                <img id="imagem-servico" class="h-48 w-full object-cover md:h-full md:w-48" src="../static/imgs/clareamento.jpg" alt="Modern building architecture">
              </div>
              <div class="p-8 max-w-96">
                <div class="flex justify-end gap-10">
                  <button href="" class="bg_principal p-2 rounded-md text-white">Editar</button>
                  <button href="" class="bg-red-500 p-2 rounded-md text-white">Excluir</button>
                </div>
                <div class="uppercase tracking-wide text-sm cor_fontPrincipal font-semibold">Clareamento</div>
                <a href="#" class="block mt-1 text-lg leading-tight font-medium cor_fontPrincipal hover:underline">Informações</a>
                <p class="mt-2 text-slate-500 text-justify">O clareamento dental é um tratamento estético que visa branquear os dentes, removendo manchas e pigmentações causadas por alimentos, bebidas ou hábitos como o tabagismo. Pode ser realizado no consultório ou em casa, com supervisão profissional.
                </p>
              </div>
            </div>
          </div>
        {{/dataValues}}
      {{/each}}
        
   </div>
  </div>
</main>

    